@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD

=======
>>>>>>> 584c18e2e5815bcad31e9b72246e45acc35548ca

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-icon {
  font-size: 44px; 
}
  .icons{
  background-color: #e6e4e3;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  li{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  }

  .icon{
    background-color: #e6e4e3;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
